#excuses2MockBody {
    position: fixed;
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #091aaf;
}


.excuse {
    color: white;
    text-align: center;
}

.buttonList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

/* Styling for button */
.button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #4caf50; /* Green background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
/* Hover effect for the button */
.button:hover {
    background-color: #45a049;
}