body {
    margin: 0;
    background: #000000;
}

#header {
    height: 120px;
    color: rgba(250, 250, 250);
    text-align: left;
    text-shadow: 2px 1px 2px rgb(158, 155, 155);
}

#header h1 {
    text-align: center;
}

#logo img {
    height: 100px;
    width: auto;
    float: left;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); /* Display every note at 200px width (if browser too small, drop to next line */
    padding: 24px;
    gap: 24px;
}

.note {
    height: 150px; /* Same as height of grid */
    width: 200px;
    box-sizing: border-box; /* Padding will not increase the width and height of note*/
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(250, 250, 250, 0.15);
    resize: none; /* Remove resizable feature */
    font-family: sans-serif;
    font-size: 16px;
}

.addNote {
    display:flex;
    justify-content: center;
}

/* Styling for text box input */
.input-box {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
  
/* Styling for button */
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50; /* Green background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
/* Hover effect for the button */
.button:hover {
    background-color: #45a049;
}