body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  
/* START MAIN CONTAINERS */
#mainContainer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #d4b898;
    height: 1000px;
    border-radius: 15px;
    border: 5px solid;
}

#mainContainer h1 {
    font-size: calc(16px + 2vw);
}


/* END MAIN CONTAINERS */
#header {
    text-align: center;
    height: auto;
    flex: 1;
}

#input {
    height: auto;
    flex: 1;
}

#buttons {
    text-align: center;
    height: auto;
    flex: 1;
}
  
  
#timer {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    color: #00ff84;
    height: auto;
    flex: 1;
}
  
input {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 60px;
}
  
button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #00ff84;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #00703c;
}