/* Everything in CSS is a box (text, button, div...). The box is composed by the content, the padding, the border and the margin */
* { 
   /* Here we are saying that the box should occupy only the space of the content */
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.box-one {    
/* I can add a padding to the content, adding background to the element (and, consequently, more space around it) */
    padding: 0em;
    background-color: #EB5757;
    
/* the border goes around the padding */
    border: 0em solid #27AE60;
    
/* the margin is added to increase the space between two elements as it is outside the border. */
    margin: 0.5em;
}

.box-two {
  
    padding: 0.1em;
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
    
 /* Do not forget the behaviour known as margin collapsing. When two elements have two different margins, they will be separated by the highest one.  */
    margin: 0em;

}

.box-three {
  
    padding: 0.1em;
    background-color: #b5db2d;
    border: 0 solid #000000;
    
    margin: 0em;

}

/* Basic Selectors */
article { font-weight: bold; }                      /* All article tags */
.news {font-family: Verdana }                       /* Tags with class="news" */
#specific {margin-left: 10px; }                     /* Tags with id="specific" */
article.product {padding: 10px 5px 10px 5px; }      /* Article tags with class="product" */
p#intro { color: rgb(255, 0, 0)}                  /* P tags with id="intro" NO SPACES BETWEEN TAG AND CLASS/ID QUALIFIER */


/* Relational Selectors */
article p { font-size: 10px; }      /* All p tags descendants of article tags */
header > h2 { text-align: center; } /* All h2 children tags of header tags */
input + label {font-style: italic;} /* All label sibling tags directly after input */


/* Attribute Selectors */
img[alt] {width: 80%; }     /* Elements can be direct or relational sectors*/
input[placeholder] {color: grey;}
input[type=submit] {font-weight: bold;}


/* UI Pseudo-selectors */
input[type=checkbox]:checked + label {color: red; } /* All label tags immediately following checkboxes which are selected */
a:hover {text-decoration: none; }                     /* A tags under mouse hover*/
input:required {font-style: italic;}                  /* Input tags which are marked as required */


/* Structural Pseudo-selectors */
article.news:first-child {margin-right: 5%; }        /* First child of all article tags with class="news" */
p:first-of-type {font-family: "Times"; }             /* First p tag in any enclosing parent */
tr:nth-child(even) {background-color: "#CCC"; }      /* All even rows from a table with class="marks" */


/* Setting Padding, Border and Margin*/
article { padding-top: 2%; }            /* ALl article tags have a top relative padding */
p { border: 1px solid grey; }         /* Border around all p tags have 1px and color grey */
div.box {margin: 10px 5px 10px 5px; }   /* Margin around all div with class="box" */

