/* START MAIN CONTAINERS */
#mainContainer {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

#userProfile {
    flex: 1;
}

#userProfile  img{
    max-width: 50%;
    height: auto;   
}

#userRepos {
    flex: 1;
}
/* END MAIN CONTAINERS */


table {
    text-align: left;
    width: 50%;
    border-collapse: collapse;
}

#userInfo td {
    border: 1px solid;
} 

#userInfo th {
    border: 1px solid;
}

/* #repoInfo td{
    border: 1px solid;
}

#repoInfo th {
    border: 1px solid;
} */

#repoTableWrapper {
    border: 1px solid;
    height: 50%;
}

.add-scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 30%;
}
  
