#mainContainer {
    display: flex;
}

.userProfile {
    flex: 1;
}

.userRepos {
    flex: 1;
}

table {
    text-align: left;
    width: 50%;
    border-collapse: collapse;
}

#userInfo td {
    border: 1px solid;
}

#userInfo th {
    border: 1px solid;
}


#repoInfo tbody{
    border: 1px solid;
}

#repoInfo th {
    border-right: 1px solid;
}


